<!-- views/partials/footer.hbs -->

<div class="container footer-container">
  <div class="text-center center-block">
    <p class="txt-railway">Phyllis Wong Web Development &copy Copyright 2019</p>
    <br />
    <a href="https://www.linkedin.com/in/phyllis-frontend-web/"><i id="social-fb" class="fa fa-linkedin-square fa-3x social"></i></a>
    <a href="https://github.com/PhyllisWong"><i id="social-gh" class="fa fa-github-square fa-3x social"></i></a>
    <a href="mailto:wong.phyllism@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
</div>