<!-- views/movies/movies-index.hbs -->

<div class="container movie-container">
  <div class="row">
    {{#each movies}}
    <div class="col-md-2 movie-card">
      <h2 class="movie-title">{{this.title}}</h2>
      <a href="/movies/{{this.id}}">
        <img src="https://image.tmdb.org/t/p/w200/{{this.poster_path}}">
      </a>
    </div>
    {{/each}}
  </div>

</div>